.recodo-code-preview {
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 12px;
    border: 1px solid #efeff8;
    background: #ffffff;
    white-space: initial;

    h1 {
        font-size: 15px;
    }
    h2 {
        font-size: 14px;
    }
    h3,
    h4,
    h5,
    h6 {
        font-size: 13px;
    }
}
.recodo-code-editor {
    font-size: 13px;
    line-height: 16px;
}
.recodo-code-error {
    overflow: auto;
    color: rgb(206, 17, 17);
    margin: 0;
}
.recodo-code-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.recodo-code-collapse-button {
    cursor: pointer;
    font-weight: 500;
    color: #0a1633;
    position: relative;
    &:hover,
    &[data-active='false'] {
        color: #3860f4;
        &::after {
            content: ' ';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 2px;
            background: #3860f4;
        }
    }
}
.recodo-code-theme-switcher {
    display: flex;
    justify-content: flex-end;
    > span {
        width: 20px;
        height: 20px;
        border: 1px solid gray;
        cursor: pointer;
        .recodo-code-theme-switcher-current {
            outline: blue;
        }
    }
}
.recodo-code-theme-switcher > span + span {
    margin-left: 10px;
}

.recodo-props {
    .recodo-props-table-wrap {
        background: #ffffff;
        border: 1px solid #efeff8;
        padding: 24px;
        overflow: auto;

        .recodo-props-table {
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;
            font-size: 12px;
            font-family: monospace;
            font-weight: 400;
            &,
            * {
                margin: 0;
                padding: 0;
            }
            th {
                text-align: left;
                line-height: 20px;
                color: #526075;
            }
            td {
                color: #0a1633;
            }
            th,
            td {
                padding: 12px;
            }
            tr {
                border-bottom: 1px solid #c3cad9;
            }
            tbody > tr:nth-child(2n + 1) {
                background: #f6f6fb;
            }
            tbody > tr:hover {
                background: #f4f6ff;
            }

            .recodo-props-table-desc-tag-title {
                font-weight: 500;
            }
            tr.recodo-props-table-deprecated {
                text-decoration: line-through;
                opacity: 0.5;
                background: #ebebf1 !important;
            }
        }
    }
}

.recodo-doc,
.recodo-props,
.recodo-component-wrap {
    font-size: 14px;

    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
        font-family: monospace;
    }
    > h1 {
        font-size: 32px;
        font-weight: 600;
        margin: 16px 0;
    }
    > h2 {
        font-size: 24px;
        font-weight: 500;
        margin: 16px 0;
    }
    > h3 {
        font-size: 20px;
        font-weight: 400;
        margin: 16px 0;
    }
    > h4 {
        font-size: 16px;
        font-weight: 400;
        margin: 8px 0;
    }
    > h5,
    > h6 {
        font-size: 14px;
        font-weight: 400;
        margin: 8px 0;
    }
}

.recodo-heading {
    .recodo-anchor {
        position: relative;
        margin-right: -20px;
        left: -20px;
        .recodo-anchor-icon {
            visibility: hidden;
            padding-right: 4px;
        }
    }
    &:hover {
        .recodo-anchor-icon {
            visibility: visible;
        }
    }
}
